APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8437
ALLOWED_ORIGINS=http://localhost:5437,http://127.0.0.1:5437,http://localhost:8437,http://127.0.0.1:8437,https://lda-hsi.fasl-work.com
FRONTEND_DIST=frontend/dist
DATA_DIR=data
